/* style*/


body {font-family:Arial, Helvetica, sans-serif;
    background-color: sandybrown;

    line-height: 1.6;
    margin:0;
    padding:0;
    text-align: center;
    color:red;
}
header{
    background-color: aqua;
    color: chocolate;
    padding: 50px 20px
    
}
  .profile-img{
width: 50px;
height: 150px;
border: radius 50px; 
border: 3px solid blueviolet;
object-fit: cover;
}
section{
    background-color:rgb(211, 201, 201);
    padding: 40px 20px;
    max-width: 800px;
    margin:auto
}
.project-grid{
    display: flex;
    gap: 20px;
    justify-content:center ;
}

.project-card{
    border: 1px solid;
    padding: 20px;
    border-radius: 8px;
    flex:1;
}
contact {
    color: blueviolet;
    font: size 36px; ;
}
h1{
    color: blueviolet;
    font-size: 36px;
}
h2{
    color: chocolate
    padding: 5px;;
}



